@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
$font-family-base: "Inconsolata";

// Default variable overrides
$primary: #5f77c6;
$dark: #3d3939;
$light: #898484;
$warning: #799d63;

// Required
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";

// Required
@import "../../../node_modules/bootstrap/scss/variables-dark";
@import "../../../node_modules/bootstrap/scss/maps";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/root";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "bootstrap/dist/css/bootstrap.min.css";
