@keyframes fromTopLeft {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(50vw, 50vh);
  }
}

.option-1 {
  animation: fromTopLeft 5s ease-out forwards;
}

.rotate-1 {
  rotate: 140deg;
}

@keyframes fromTopRight {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50vh, 50vh);
  }
}

.option-2 {
  left: 100vw;
  animation: fromTopRight 5s ease-out forwards;
}

.rotate-2 {
  rotate: 240deg;
}

@keyframes fromBottomLeft {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50vh, -50vh);
  }
}

.option-4 {
  top: 100vh;
  left: 100vw;
  animation: fromBottomLeft 5s ease-out forwards;
}

.rotate-4 {
  rotate: 300deg;
}

@keyframes fromBottomRight {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(50vh, -50vh);
  }
}

.option-3 {
  top: 100vh;
  animation: fromBottomRight 5s ease-out forwards;
}

.rotate-3 {
  rotate: 60deg;
}

@keyframes fromMiddleTop {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -50vh);
  }
}

.option-5 {
  top: 100vh;
  left: 50vw;
  animation: fromMiddleTop 5s ease-out forwards;
}

.rotate-5 {
  rotate: 0deg;
}

@keyframes fromMiddleLeft {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50vw, 0);
  }
}

.option-6 {
  top: 50vh;
  left: 100vw;
  animation: fromMiddleLeft 5s ease-out forwards;
}

.rotate-6 {
  rotate: 270deg;
}

@keyframes fromMiddleBottom {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 50vh);
  }
}

.option-7 {
  left: 50vh;
  animation: fromMiddleBottom 5s ease-out forwards;
}

.rotate-7 {
  rotate: 180deg;
}

@keyframes fromMiddleRight {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(50vw, 0);
  }
}

.option-8 {
  top: 50vh;
  animation: fromMiddleRight 5s ease-out forwards;
}

.rotate-8 {
  rotate: 90deg;
}
